nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background-color: transparent;
    cursor: pointer;
    padding: 0.8rem;
    transition: all 0.3s ease;
    border: 1px solid #1d1d1d;
    &:hover {
      background-color: #1d1d1d;
      color: aliceblue;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      margin-top: 0.8rem;
      z-index: 100;
    }
  }
}
