* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.App {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.libraryActive {
  margin-left: 15%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
